# ESP-IDF build artifacts
build/
sdkconfig
sdkconfig.old

# ESP-IDF environment
.espressif/
__pycache__/
*.pyc

# OS files
.DS_Store

# Editor / IDE
.vscode/
.idea/

# Logs
*.log


























